//
//  amp.xcconfig
//  peak
//
//  Created by Björn Knafla on 02.11.09.
//  Copyright 2009 Bjoern Knafla www.bjoernknafla.com. All rights reserved.
//

// While using the amp framework no additional header search paths must be set.

AMP_ROOT_PATH = "/Users/bknafla/Projects/amp/"
AMP_HEADER_PATHS = "$(AMP_ROOT_PATH)/src/c/" "$(AMP_ROOT_PATH)/src/cpp/"
AMP_FRAMEWORK_PATH = "$(AMP_ROOT_PATH)/build_env/xcode_3_2/amp/build/$(CONFIGURATION)"

// "/Users/bknafla/Projects/amp/src/c/"


AMP_PREPROCESSOR_DEFINITIONS = AMP_USE_LIBDISPATCH_SEMAPHORES AMP_USE_PTHREADS
